/*------------------------------------*\
    #LISTS
\*------------------------------------*/

ul, ol,
%margin-left {
    margin-left: $base-spacing-unit;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 $base-spacing-unit $base-spacing-unit;
}
