/*------------------------------------*\
    #LISTS
\*------------------------------------*/

/**
 * Where `margin-left` is concerned we want to try and indent certain elements
 * by a consistent amount. Define that amount once,here.
 */
ul, ol,
%margin-left {
    margin-left: $base-spacing-unit;
}

ul, ol,
%margin-bottom {
    margin-bottom: 2 * $base-spacing-unit;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 $base-spacing-unit $base-spacing-unit;
}
