/*------------------------------------*\
    #SHARED
\*------------------------------------*/

/**
 * Where `margin-bottom` is concerned,this value will be the same as the
 * base line-height. This allows us to keep a consistent vertical rhythm.
 * As per: csswizardry.com/2012/06/single-direction-margin-declarations
 */
h1, h2, h3, h4, h5, h6, hgroup,
ul, ol, dl,
blockquote, p, address,
table,
fieldset, figure,
pre,
%margin-bottom {
    margin-bottom: $base-spacing-unit;
}



/**
 * Where `margin-left` is concerned we want to try and indent certain elements
 * by a consistent amount. Define that amount once,here.
 */
ul, ol, dd,
%margin-left {
    margin-left: 2 * $base-spacing-unit;
}





// @import "../layout/content-sidebar";
.layout-2c-l {

.content-area {
	float: left;
	margin: 0 (-$size__site-sidebar) 0 0;
	width: $size__site-main;
}

.site-main {
	margin: 0 $size__site-sidebar 0 0;
}

.sidebar__primary {
	float: right;
	overflow: hidden;
	width: $size__site-sidebar;
}

}

// @import "../layout/sidebar-content";
.layout-2c-r {

.content-area {
	float: right;
	margin: 0 0 0 (-$size__site-sidebar);
	width: $size__site-main;
}

.site-main {
	margin: 0 0 0 $size__site-sidebar;
}

.sidebar__primary {
	float: left;
	overflow: hidden;
	width: $size__site-sidebar;
}

}
.site-footer {
	clear: both;
	width: $size__site-main;
}

/*--------------------------------------------------------------
10.1 Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
10.2 Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/*--------------------------------------------------------------
10.3 Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}













.widget {
	margin: 0 0 1.5em;

	/* Make sure select elements fit in widgets */
	select {
		max-width: 100%;
	}
}

/* Search widget */
.widget_search .search-submit {
	display: none;
}