///*------------------------------------*\
//    #COLORS
//\*------------------------------------*/

// Literal color variables.

$color-primary:         #f43059;
$color-pink:            #f43059;

/* ==========  Blacks  ========== */

$color-black: #000;
$color-gray-dark: rgba($color-black, .87);
$color-gray: rgba($color-black, .54);
$color-gray-light: rgba($color-black, .26);
$color-gray-lighter: rgba($color-black, .12);


/* ==========  LIGHT  ========== */

$color-white: #fff;

// Assign colors to more meaningful variables.

// Text-level
$color-text:            $color-gray-dark;
$color-links:           $color-pink;

// Buttons
$color-btn-text:        #fff;
$color-btn-background:  $color-pink;
