/*------------------------------------*\
    #COLORS
\*------------------------------------*/

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #404040;



// Literal color variables.

$color-primary:         #2980b9;
$color1:         		#2980b9;
$color2:         		#1abc9c;
$color-brand:        	$color1;

/* ==========  Blacks  ========== */

$color-black: #212121;
$color-gray-dark: #616161;
$color-gray: #9E9E9E;
$color-gray-light: #E0E0E0;
$color-gray-lighter: #EEEEEE;
$color-gray-lightest: #FAFAFA;


/* ==========  LIGHT  ========== */

$color-white: #fff;

// Assign colors to more meaningful variables.

$color-hr: #ccc;

// Text-level
$color-text:            $color-gray-dark;
$color-links:           $color-primary;
$color-links-hover:     darken($color-links, 10);
$dark-bg-color-links:           lighten($color-links, 10);
$dark-bg-color-links-hover:     lighten($dark-bg-color-links, 10);

// Buttons
$color-btn-text:        #fff;
$color-btn-background:  $color-primary;


//Alerts
$color-error:  #e74c3c;
$color-valid: #1abc9c;
$color-warning: #f1c40f;
$color-information: #3498db;