/*------------------------------------*\
    #COLORS
\*------------------------------------*/

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;


// Literal color variables.

$color-primary:         royalblue;

$color-brand:        $color-primary;

/* ==========  Blacks  ========== */

$color-black: #212121;
$color-gray-dark: #616161;
$color-gray: #9E9E9E;
$color-gray-light: #E0E0E0;
$color-gray-lighter: #EEEEEE;
$color-gray-lightest: #FAFAFA;


/* ==========  LIGHT  ========== */

$color-white: #fff;

// Assign colors to more meaningful variables.

// Text-level
$color-text:            $color-gray-dark;
$color-links:           $color-primary;
$color-links-hover:     darken($color-links, 10);
$dark-bg-color-links:           lighten($color-links, 10);
$dark-bg-color-links-hover:     lighten($dark-bg-color-links, 10);

// Buttons
$color-btn-text:        #fff;
$color-btn-background:  $color-primary;


//Alerts
$color-error:  #ec7063;
$color-valid: #58d68d;
$color-warning: #f4d313;
$color-information: #5dade2;