/*------------------------------------*\
    #GLOBAL
\*------------------------------------*/

$base-font-size:    16px;
$base-line-height:  24px;

$base-radius: 2px;

$base-spacing-unit-lg: $base-line-height * 2;
$base-spacing-unit: $base-line-height;
$base-spacing-unit-sm: $base-line-height / 2;

$font__main: sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

/*------------------------------------*\
    #STRUCTURE
\*------------------------------------*/

$size__site-main: 100%;
$size__site-sidebar: 25%;